* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #1C1C1C;
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1F2937;
    width: 550px;
    height: 550px;
    margin: 64px;
    padding: 52px;
}

.text_block {
    margin-top: 63px  ;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: #FFFFFF;
    line-height: 1;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    line-height: 1.4;
    color: #D5D4D8;
    margin-bottom: 51px;
    
}

.separator {
    height: 1px;
    background: #2F3E53;
    margin-top: 35px;
    margin-bottom: 35px;
}

button {
    
    border-radius: 5px;
    font-size: 16px;
}

#button-gnr {
    padding: 9px 15px;
    background-color: #10B981;
    color: #FFFFFF;
}

#button-gnr:hover {
    background: #065F46;
}

#button-gnr:active {
    background: #6EE7B7
}

#password1-el,
#password2-el {
    padding: 4px 15px;
    line-height: 1.5;
    height: 39px;
    width: 201px;
    background-color: #273549;
    color: #55F991;
}

#password1-el {
    margin-right: 40px;
}

.another_color {
    color: #4ADF86;
}

